<tr>
  <td><%= blog.title %></td>
  <td><%= blog.topic.title %></td>
  <td>Published <%= time_ago_in_words blog.created_at, include_seconds: true %> ago</td>
  <td><%= blog.body %></td>
  <% if logged_in? :site_admin %>
    <td><button><%= link_to blog.status.titleize, toggle_status_blog_path(blog), method: :patch %></button></td>
    <td><button><%= link_to 'Edit', edit_blog_path(blog) %></button></td>
    <td><button><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
  <% end %>
  <td><button><%= link_to 'Show', blog %></button></td>
</tr>  
