<%= form_with(model: portfolio_item, local: true) do |f| %>
  <% if portfolio_item.errors.any? %>
    <div>
      <h2><%= pluralize(portfolio_item.errors.count, "error") %>  prevented portfolio from being saved</h2>
      <ul>
        <% portfolio_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% portfolio_item.attributes.reject { |k, _| k == "id" || /ated_at/ =~ k }.each do |key, _| %>
    <div>
      <%= f.label key %>
      <br>
      <% if key == 'body' %>
        <%= f.text_area key, cols: 60, rows: 5 %> 
      <% else %>
        <%= f.text_field key %> 
      <% end %>
    </div>
    <br>
  <% end %>
  <%= f.submit %>
<% end %>
