<!DOCTYPE html>
<html>
  <%= render 'shared/head', asset_filename: 'blogs' %>

  <body>
    <%= console %>
    <%= render 'shared/notification' %>
    <%= user_actions %>

    <%= yield %>

    <%= render 'shared/nav', location: 'bottom' %>
    <%= tracker %>
  </body>
</html>
