<!DOCTYPE html>
<html>
  <%= render 'shared/head', asset_filename: 'portfolios' %>

  <body>
    <%= render 'shared/notification' %>
    <%= render 'shared/nav', location: 'top' %>
    <%= user_actions %>

    <%= yield %>

    <%= tracker %>
    <footer style="text-align: center"><%= copyright_generator %></footer>
  </body>
</html>
