<!DOCTYPE html>
<html>
  <%= render 'shared/head', asset_filename: @asset_filename %>

  <body>
    <%= console %>
    <%= render 'shared/notification' %>
    <%= render 'shared/nav', location: 'top' %>
    <%= render 'shared/user_actions' %>

    <%= yield %>

    <%= render 'shared/tracker' %>
  </body>
</html>
